html
{
    background-color: black;
    
}

main
{
    box-sizing: border-box;
    background-color: black;
  
    
  
}


.localnav
{
  
  position: fixed;
  width: 100svw;
  height: 13svw;
  min-height: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5svw;
  z-index: 2;
}


.bgchange
{
    background-image: linear-gradient(black, transparent);
    transition: .5s;
    
}
.bgchange.scrolled
{
    background-color: black; 
    transition: .5s;
    height: 5svw !important;
}
#logo
{   
    position: absolute;
   margin: auto; 
   height: 100%;
   left: 0;
   right: 0;
   background-image: linear-gradient(black,rgb(32, 32, 32));
   border-radius: 0 0 50% 50%;
   min-height: 100%;
}
.localnav a
{
    text-decoration: none;
    color: white;
   padding-left: 2svw;
}

#myBtn
{
  position: absolute;
  right: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: gray;
    font-size: 28px;
    font-weight: bold;
   position: absolute;
   right: 10px;
   
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    box-sizing: border-box;
    padding: 10px 16px;
   border: 0;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .modal-body input
    {
        text-align: center;
        width: 50%; align-self: center;
    }
    .modal-body button
    {
        width: 50%;
        align-self: center;
        border: 0;
        color: white;
        background-color: black;
        margin-top: 10px;
        height: 2rem;
    }

  .modal-footer {
    padding: 2px 16px;
   border: 0;
   }

.pad
{
  padding: 0;
  
}
@media only screen and (max-width: 770px) {
  .pad
  {
    min-width: 0;
    
  }
}
.page1
{
    
    padding: 0;
    overflow: clip;
    height: 100vh;
  
   
}
.position
{
    position: fixed;
}

.position.scrollnew
{
    position: absolute;
    top: 75svw;
    z-index: 0 !important;
}

.position.scroll
{
    position: absolute;
    top: 100vh;
    z-index: 0 !important;
}


.row div
{
  
  /* display: flex; */
  overflow: clip;
}
#p1 img
{
 height: 100vh;
 min-height: 45svw;
/* margin-left: -15svw; */

 
 
 transform: translate(-5vw,0%);
 z-index: -1;
 

}

.page2
{
    position: relative;
    display: flex;
    background-image: linear-gradient(transparent,black);
    height: 200vh;
   justify-content: center;
   align-items: flex-end;

}

.pos2
{
  top: 100vh;
}
.pos2.scroll2
{
  top: 0;
  transition: .5s;
}

.premium
{
  display: inherit;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 50svh;
  align-items: center;
}

.page3
{
  position: relative !important;
  background-color: black;
  height: 500px;
  
}

.lights
{
  display: flex;
justify-content: center;
padding-top: 10svh;
text-align: center;
color: white;
}


/* try */
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
/* try */

#car2 img
{
  height: 30svh;
}

#car2 div
{
  background-color: black;
}